# Day 4ï¼šæè¿°ç»Ÿè®¡ä¸æ¢ç´¢æ€§åˆ†æï¼ˆçœ‹æ‡‚æ•°æ®ï¼‰

> ä»Šæ—¥ç›®æ ‡ï¼šä½¿ç”¨æè¿°ç»Ÿè®¡ã€æ’åºã€ç›¸å…³æ€§ä¸ç®€å•é€»è¾‘è¿‡æ»¤åˆæ­¥ç†è§£æ•°æ®ç»“æ„ï¼›å½¢æˆ 3~5 æ¡å¯è§£é‡Šå‘ç°ã€‚

å­¦ä¹ è·¯å¾„ï¼š
1. è¯»å–ä¸å‡†å¤‡ (å«æ—¥æœŸè§£æ)
2. æè¿°ç»Ÿè®¡ describe / å•åˆ—æŒ‡æ ‡
3. æ’åºä¸é€‰æ‹© top / bottom
4. é¢‘æ•°ä¸å”¯ä¸€å€¼ count / unique / value_counts
5. ç›¸å…³ç³»æ•° corr ä¸ç®€å•è§£é‡Š
6. ç»„åˆæ¡ä»¶è¿‡æ»¤ (é€»è¾‘ä¸æˆ–)
7. Mini Caseï¼šæå‡ºå¹¶å›ç­” 3 ä¸ªé—®é¢˜
8. å‘ç°æ’°å†™æ¨¡æ¿
9. å°ç»“
10. è¯¾åä½œä¸šæç¤º

## 1. è¯»å–ä¸å‡†å¤‡
æ•°æ®ï¼š`air_quality_timeseries.csv`ï¼ŒåŒ…å« 5 å¤© Ã— å¤šåŸå¸‚ã€‚

æ­¥éª¤ï¼š
1. read_csv + parse_dates
2. åŸºæœ¬æŸ¥çœ‹ shape / head / info
3. ç¡®è®¤æ•°å€¼åˆ—

In [1]:
import pandas as pd
import numpy as np

df = pd.read_csv('../data/air_quality_timeseries.csv', parse_dates=['date'])
df.head()

        date city province  PM25  PM10  NO2  SO2
0 2025-09-01   å¹¿å·       å¹¿ä¸œ    42    55   19    7
1 2025-09-02   å¹¿å·       å¹¿ä¸œ    41    54   18    7
2 2025-09-03   å¹¿å·       å¹¿ä¸œ    39    50   17    6
3 2025-09-04   å¹¿å·       å¹¿ä¸œ    45    57   20    7
4 2025-09-05   å¹¿å·       å¹¿ä¸œ    44    56   19    7

In [2]:
print('å½¢çŠ¶:', df.shape)
print('info():')
print(df.info())
print('æ•°å€¼åˆ—åˆæ­¥å‡å€¼:')
print(df[['PM25','PM10','NO2','SO2']].mean())

å½¢çŠ¶: (30, 7)
info():
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   date      30 non-null     datetime64[ns]
 1   city      30 non-null     object
 2   province  30 non-null     object
 3   PM25      30 non-null     int64
 4   PM10      30 non-null     int64
 5   NO2       30 non-null     int64
 6   SO2       30 non-null     int64
dtypes: datetime64[ns](1), int64(4), object(2)
memory usage: 1.8+ KB
None
æ•°å€¼åˆ—åˆæ­¥å‡å€¼:
PM25    50.500000
PM10    66.200000
NO2     27.366667
SO2      9.833333
dtype: float64

### å°ç»ƒä¹  1
1. ä½¿ç”¨ head(3) ä¸ tail(3) è§‚å¯Ÿæ•°æ®ä¸¤ç«¯ã€‚
2. æ£€æŸ¥æœ‰æ— ç¼ºå¤± (isnull().sum())ã€‚
(åœ¨ä¸‹æ–¹è‡ªè¡Œæ·»åŠ å•å…ƒæ ¼)

## 2. æè¿°ç»Ÿè®¡ describe ä¸å•åˆ—æŒ‡æ ‡
describe()ï¼šä¸€æ¬¡æ€§ç»™å‡º count / mean / std / min / 25% / 50% / 75% / maxã€‚
ä¹Ÿå¯å•ç‹¬ï¼šmean() / std() / median() / max() ç­‰ã€‚

In [3]:
desc = df[['PM25','PM10','NO2','SO2']].describe()
desc

           PM25       PM10        NO2        SO2
count  30.00000  30.000000  30.000000  30.000000
mean   50.50000  66.200000  27.366667   9.833333
std     9.18676  11.850797   6.327190   2.408080
min    37.00000  49.000000  17.000000   6.000000
25%    42.25000  55.250000  20.250000   7.000000
50%    50.50000  67.000000  29.000000  10.500000
75%    58.00000  75.750000  31.000000  12.000000
max    66.00000  86.000000  38.000000  13.000000

In [4]:
# å•åˆ—è¯¦ç»†ä¾‹å­ï¼šPM25
pm25_mean = df['PM25'].mean()
pm25_std = df['PM25'].std()
pm25_min = df['PM25'].min()
pm25_max = df['PM25'].max()
print(f'PM2.5 å¹³å‡={pm25_mean:.2f} æ ‡å‡†å·®={pm25_std:.2f} èŒƒå›´=({pm25_min},{pm25_max})')

PM2.5 å¹³å‡=50.50 æ ‡å‡†å·®=9.19 èŒƒå›´=(37,66)

è§£è¯»æç¤ºï¼šæ ‡å‡†å·®å¤§ â†’ æ³¢åŠ¨å¤§ï¼›æå·® (max - min) â†’ ç¦»æ•£ç¨‹åº¦ï¼›ä¸­ä½æ•° vs å‡å€¼ å¯çœ‹æ˜¯å¦åæ–œã€‚

### å°ç»ƒä¹  2
1. è®¡ç®— PM10 çš„ä¸­ä½æ•° median ä¸æå·®ã€‚
2. ä¼°ç®— NO2 ä¸ SO2 å“ªä¸ªæ³¢åŠ¨æ›´å¤§ (æ¯”è¾ƒæ ‡å‡†å·®)ã€‚

## 3. æ’åºä¸é€‰æ‹© top/bottom
æŒ‰æŸåˆ—æ’åºå¸¸è§ï¼šsort_values(by='åˆ—', ascending=False)ã€‚
æ¡ˆä¾‹ï¼šæ‰¾å‡º PM25 æœ€é«˜çš„ 5 æ¡è®°å½• (city+date+PM25)ã€‚

In [5]:
top5_pm25 = df.sort_values(by='PM25', ascending=False).head(5)[['date','city','PM25']]
top5_pm25

         date city  PM25
9  2025-09-05   åŒ—äº¬    66
6  2025-09-02   åŒ—äº¬    65
8  2025-09-04   åŒ—äº¬    62
18 2025-09-04   æˆéƒ½    62
5  2025-09-01   åŒ—äº¬    60

In [6]:
# ä¹Ÿå¯ä»¥æŒ‰åŸå¸‚å¹³å‡ PM25 æ’åºï¼š
city_pm25_mean = df.groupby('city')['PM25'].mean().sort_values(ascending=False)
city_pm25_mean

city
åŒ—äº¬    62.2
æˆéƒ½    59.2
é‡åº†    55.4
ä¸Šæµ·    45.0
å¹¿å·    42.2
æ­å·    39.0
Name: PM25, dtype: float64

### å°ç»ƒä¹  3
1. æ‰¾å‡º PM10 å¹³å‡å€¼æœ€é«˜çš„å‰ 3 ä¸ªåŸå¸‚ã€‚
2. åå‘ï¼šPM25 å¹³å‡å€¼æœ€ä½çš„ 2 ä¸ªåŸå¸‚ã€‚

## 4. é¢‘æ•°ä¸å”¯ä¸€å€¼
å·¥å…·ï¼šnunique() / unique() / value_counts()ã€‚
ç¤ºä¾‹ï¼šç»Ÿè®¡å‡ºç°çš„çœä»½æ•°é‡ä¸å„çœä»½è®°å½•æ•°ã€‚

In [7]:
province_counts = df['province'].value_counts()
print('çœä»½æ•°é‡:', df['province'].nunique())
province_counts

çœä»½æ•°é‡: 6

province
å¹¿ä¸œ    5
åŒ—äº¬    5
ä¸Šæµ·    5
å››å·    5
æµ™æ±Ÿ    5
é‡åº†    5
Name: count, dtype: int64

### å°ç»ƒä¹  4
1. ç»Ÿè®¡åŸå¸‚æ•°é‡ (nunique)ã€‚
2. è¾“å‡ºæ‰€æœ‰åŸå¸‚åç§°åˆ—è¡¨ (unique)ã€‚

## 5. ç›¸å…³ç³»æ•° corr (åˆ—ä¹‹é—´çº¿æ€§å…³ç³»)
æ–¹æ³•ï¼šdf[['åˆ—A','åˆ—B']].corr() è¿”å›ç›¸å…³çŸ©é˜µ (-1 ~ 1)ã€‚
è§£é‡Šï¼šæ¥è¿‘ 1 â†’ åŒå‘å¼ºç›¸å…³ï¼›æ¥è¿‘ -1 â†’ åå‘å¼ºç›¸å…³ï¼›æ¥è¿‘ 0 â†’ çº¿æ€§ç›¸å…³å¼±ã€‚
ç¤ºä¾‹ï¼šPM25 ä¸ PM10 / NO2 ä¸ SO2ã€‚

In [8]:
corr_matrix = df[['PM25','PM10','NO2','SO2']].corr()
corr_matrix

          PM25      PM10       NO2       SO2
PM25  1.000000  0.993589  0.920408  0.928219
PM10  0.993589  1.000000  0.951858  0.944910
NO2   0.920408  0.951858  1.000000  0.959213
SO2   0.928219  0.944910  0.959213  1.000000

è§£è¯»æç¤ºï¼šç›¸å…³ â‰  å› æœï¼›å¯èƒ½å—ç¬¬ä¸‰å˜é‡å…±åŒå½±å“ã€‚

### å°ç»ƒä¹  5
1. æ‰¾å‡ºç›¸å…³ç³»æ•°æœ€é«˜çš„ä¸€å¯¹ (é™¤å»å¯¹è§’çº¿)ã€‚
2. æ€è€ƒï¼šä¸ºä»€ä¹ˆè¿™ä¸¤é¡¹å¯èƒ½ç›¸å…³ï¼Ÿå†™ä¸€å¥çŒœæµ‹ã€‚

## 6. ç»„åˆæ¡ä»¶è¿‡æ»¤ (é€»è¾‘ä¸æˆ–)
è¯­æ³•ï¼š (æ¡ä»¶1) & (æ¡ä»¶2) ; (æ¡ä»¶A) | (æ¡ä»¶B)ã€‚æ³¨æ„æ‹¬å·ã€‚
ç¤ºä¾‹ï¼šç­›é€‰ â€œPM25 > 55 ä¸” NO2 > 30â€ çš„è®°å½•ã€‚

In [9]:
filtered = df[(df['PM25'] > 55) & (df['NO2'] > 30)][['date','city','PM25','NO2']]
filtered.head()

        date city  PM25  NO2
5 2025-09-01   åŒ—äº¬    60   35
6 2025-09-02   åŒ—äº¬    65   37
7 2025-09-03   åŒ—äº¬    58   34
8 2025-09-04   åŒ—äº¬    62   36
9 2025-09-05   åŒ—äº¬    66   38

In [10]:
# æˆ–æ¡ä»¶ç¤ºä¾‹ï¼šPM25 < 40 æˆ– SO2 < 8
either = df[(df['PM25'] < 40) | (df['SO2'] < 8)][['date','city','PM25','SO2']]
either.head()

        date city  PM25  SO2
0 2025-09-01   å¹¿å·    42    7
1 2025-09-02   å¹¿å·    41    7
2 2025-09-03   å¹¿å·    39    6
3 2025-09-04   å¹¿å·    45    7
4 2025-09-05   å¹¿å·    44    7

### å°ç»ƒä¹  6
1. ç­›é€‰å‡º PM10 > 80 æˆ– PM25 > 60 çš„è®°å½•ã€‚
2. ç»Ÿè®¡æ»¡è¶³æ¡ä»¶çš„åŸå¸‚æœ‰å‡ ä¸ª (nunique)ã€‚

## 7. Mini Caseï¼šæå‡ºå¹¶å›ç­” 3 ä¸ªé—®é¢˜
ç¤ºä¾‹é—®é¢˜çµæ„Ÿï¼š
1. å“ªä¸ªåŸå¸‚ 5 å¤©å†… PM25 æ³¢åŠ¨æœ€å¤§ï¼Ÿ(max - min)
2. å“ªä¸ªåŸå¸‚å¹³å‡ NO2 æœ€é«˜ï¼Ÿ
3. æ˜¯å¦å­˜åœ¨ PM25 é«˜ä½† SO2 ä½çš„åŸå¸‚å¤©æ•°è¾ƒå¤šï¼Ÿ

ä¸‹é¢ç»™å‡ºéª¨æ¶ä»£ç ï¼Œå¯æŒ‰è‡ªå·±é—®é¢˜è°ƒæ•´ã€‚

In [ ]:
# 1. è®¡ç®—å„åŸå¸‚ PM25 æ³¢åŠ¨ (æå·®)
pm25_range = df.groupby('city')['PM25'].agg(lambda x: x.max() - x.min()).sort_values(ascending=False)
pm25_range.head()

date
2025-09-02    25
2025-09-04    25
2025-09-05    25
2025-09-01    22
2025-09-03    21
Name: PM25, dtype: int64

In [12]:
# 2. å¹³å‡ NO2 æœ€é«˜åŸå¸‚
no2_mean_city = df.groupby('city')['NO2'].mean().sort_values(ascending=False)
no2_mean_city.head()

city
åŒ—äº¬    36.0
é‡åº†    31.0
æˆéƒ½    30.6
ä¸Šæµ·    27.8
æ­å·    20.2
Name: NO2, dtype: float64

In [13]:
# 3. ç»Ÿè®¡ PM25 > 55 ä¸” SO2 < 12 çš„è®°å½•æ•°æŒ‰åŸå¸‚æ±‡æ€»
cond_counts = df[(df['PM25'] > 55) & (df['SO2'] < 12)].groupby('city').size().sort_values(ascending=False)
cond_counts.head()

city
æˆéƒ½    3
åŒ—äº¬    1
dtype: int64

### å°ç»ƒä¹  7
å†™å‡ºä½ è‡ªå·±çš„ç¬¬ 4 ä¸ªé—®é¢˜å¹¶å›ç­” (ä¾‹å¦‚ï¼šæŸæŒ‡æ ‡å¹³å‡å€¼æ’åã€æŸæ¡ä»¶å‡ºç°é¢‘æ¬¡)ã€‚

## 8. å‘ç°æ’°å†™æ¨¡æ¿
ä½¿ç”¨å¦‚ä¸‹ç»“æ„å†™ 3~5 æ¡å‘ç°ï¼š
- æŒ‡æ ‡ + èŒƒå›´ï¼šå¹¿å· 5 å¤© PM2.5 å‡å€¼ 42.2ï¼Œæ—¥æ³¢åŠ¨ 6ã€‚
- æ’å/å¯¹æ¯”ï¼šåŒ—äº¬ PM2.5 å‡å€¼é«˜äºå…¶ä»– 4 åŸå¸‚ (â‰ˆ+15)ã€‚
- æ¡ä»¶é¢‘æ¬¡ï¼šæ»¡è¶³ â€œPM25>55 ä¸” SO2<12â€ çš„è®°å½•ä¸­ï¼Œæˆéƒ½å  40%ã€‚
- ç›¸å…³è§‚å¯Ÿï¼šPM25 ä¸ PM10 ç›¸å…³ç³»æ•° 0.xxï¼Œå¯èƒ½è¯´æ˜â€¦â€¦ (éå› æœ)ã€‚

é¿å…ï¼šä»…ç½—åˆ—æ•°å­—ï¼Œæ— è§£é‡Šæ„ä¹‰ã€‚

## 9. å°ç»“

ä»Šæ—¥å›é¡¾ï¼š
1. describe æä¾›å¿«é€Ÿæ¦‚è§ˆ
2. æ’åº + åˆ†ç»„ç»Ÿè®¡æ”¯æŒå¯¹æ¯”
3. ç›¸å…³ç³»æ•°åˆæ­¥å‘ç°æˆå¯¹å…³ç³»
4. ç»„åˆæ¡ä»¶è¿‡æ»¤å®šä½ç‰¹æ®Šè®°å½•
5. å°†è®¡ç®—è½¬åŒ–ä¸ºâ€œå¯è¯»å‘ç°â€

In [14]:
# æ¢ç´¢è¿›é˜¶ä»£ç é›†åˆ
import pandas as pd
df = pd.read_csv('../data/air_quality_timeseries.csv', parse_dates=['date'])

# 1. å„åŸå¸‚ PM25 CV (ç›¸å¯¹æ³¢åŠ¨)
cv = df.groupby('city')['PM25'].agg(lambda s: round(s.std()/s.mean(), 3))
print('CV ç›¸å¯¹æ³¢åŠ¨:\n', cv.sort_values(ascending=False).head())

# 2. nlargest / nsmallest
top_pm25 = df.nlargest(5, 'PM25')[['date','city','PM25']]
low_pm25 = df.nsmallest(3, 'PM25')[['date','city','PM25']]
print('æœ€é«˜5è¡Œ:\n', top_pm25)
print('æœ€ä½3è¡Œ:\n', low_pm25)

# 3. æ¡ä»¶è®¡æ•°ç¤ºä¾‹
cond_count = ((df['PM25'] > 55) & (df['SO2'] < 12)).sum()
print('PM25>55 ä¸” SO2<12 æ¡ä»¶è®°å½•æ•°:', cond_count)

# 4. åˆ†ç»„ describe æŠ½å–ä¸­ä½æ•°åˆ—
g_desc = df.groupby('city')['PM25'].describe()
print(g_desc[['50%']].head())

CV ç›¸å¯¹æ³¢åŠ¨:
 city
å¹¿å·    0.057
åŒ—äº¬    0.054
æ­å·    0.041
ä¸Šæµ·    0.035
æˆéƒ½    0.032
Name: PM25, dtype: float64
æœ€é«˜5è¡Œ:
          date city  PM25
9  2025-09-05   åŒ—äº¬    66
6  2025-09-02   åŒ—äº¬    65
8  2025-09-04   åŒ—äº¬    62
18 2025-09-04   æˆéƒ½    62
5  2025-09-01   åŒ—äº¬    60
æœ€ä½3è¡Œ:
          date city  PM25
23 2025-09-04   æ­å·    37
20 2025-09-01   æ­å·    38
2  2025-09-03   å¹¿å·    39
PM25>55 ä¸” SO2<12 æ¡ä»¶è®°å½•æ•°: 4
       50%
city
ä¸Šæµ·    45.0
åŒ—äº¬    62.0
å¹¿å·    42.0
æˆéƒ½    59.0
æ­å·    39.0

### æ¢ç´¢è¿›é˜¶æŠ€å·§ (ç»Ÿè®¡ + æ€è·¯)
1. æè¿°ç»Ÿè®¡å·®å¼‚ï¼šå¯¹æ¯”åˆ†ç»„ describeï¼šdf.groupby('city')['PM25'].describe().
2. å˜å¼‚ç³»æ•° (CV)=std/meanï¼šè¡¡é‡ç›¸å¯¹æ³¢åŠ¨ï¼›(ç¤ºä¾‹) df.groupby('city')['PM25'].agg(lambda s: s.std()/s.mean()).
3. æ’åå‡½æ•°ï¼šnlargest / nsmallest æ¯”æ’åº+head æ›´é«˜æ•ˆã€‚
4. é€è§†è¡¨æ€è·¯ï¼ˆæœªæ­£å¼è®²ï¼‰ï¼šgroupby å¤šç»´åº¦æ—¶å¯ä»¥å¤šåˆ—èšåˆæˆå®½è¡¨ã€‚
5. æ¡ä»¶è®¡æ•°ï¼šä½¿ç”¨ (cond).sum()ï¼›è·¨ä¸¤æ¡ä»¶ = ((A)&(B)).sum()ã€‚
6. ç›¸å…³çŸ©é˜µå¯è§†ç­–ç•¥ï¼šåç»­å¯ç”¨çƒ­åŠ›å›¾ï¼ˆDay5 ä¹Ÿå¯å°è¯•ï¼‰ã€‚
7. å¤åˆæŒ‡æ ‡ç¤ºä¾‹ï¼šæ ‡å‡†åŒ– (å€¼-å‡å€¼)/std åç›¸åŠ ï¼ˆäº†è§£å³å¯ï¼‰ã€‚
8. è¯†åˆ«â€œå¼‚å¸¸è®°å½•â€æ€è·¯ï¼šæå€¼ã€åˆ†ä½æ•°ã€ç»„åˆæ¡ä»¶é¢‘æ¬¡ç¨€å°‘ã€‚
9. ç”Ÿæˆâ€œå‘ç°å€™é€‰â€æ¸…å•ï¼šå…ˆæ‰¹é‡æ‰“å°æ’åº/èšåˆç»“æœï¼Œå†äººå·¥ç­›é€‰ã€‚
10. è®°å½•å‡è®¾ä¸éªŒè¯ï¼šå†™ markdownï¼šå‡è®¾ â†’ ä½¿ç”¨çš„ç»Ÿè®¡/è¿‡æ»¤ â†’ æ”¯æ’‘æˆ–åä¾‹ã€‚

## 10. è¯¾åä½œä¸šæç¤º
åœ¨ *homework_day4.ipynb*ï¼š
1. ä»»é€‰ 3 ä¸ªåŸå¸‚ï¼Œè®¡ç®—å®ƒä»¬ PM25 å‡å€¼ã€æ ‡å‡†å·®ã€æå·®å¹¶åšè¡¨æ ¼ã€‚
2. æ‰¾å‡º NO2 å¹³å‡å€¼æœ€é«˜ä¸æœ€ä½çš„åŸå¸‚å¹¶åšä¸€å¥è§£é‡Šã€‚
3. è‡ªæ‹Ÿ 2 ä¸ªé€»è¾‘ç»„åˆç­›é€‰æ¡ä»¶å¹¶ç»Ÿè®¡å‘½ä¸­è¡Œæ•°ã€‚
4. å†™ 120 å­—å‘ç°æ€»ç»“ï¼ˆè‡³å°‘ 3 æ¡å‘ç° + 1 æ¡æ•°æ®å±€é™ï¼‰ã€‚
(å¯é€‰) 5. æŠŠä½ ä»Šå¤©å†™çš„ 1 ä¸ªé—®é¢˜å°è£…æˆå‡½æ•°ï¼Œä¾‹å¦‚ä¼ å…¥ city è¿”å› PM25 æå·®ã€‚

---
ğŸ“Œ æç¤ºï¼šæ˜å¤© (Day 5) å°†è¿›å…¥å¯è§†åŒ–ï¼Œè¯·ä¿ç•™å¥½æœ¬ Notebook ç»“æœï¼Œæ–¹ä¾¿ç›´æ¥ç”»å›¾ã€‚