# Day 2ï¼špandas å…¥é—¨ï¼ˆæ•°æ®ç»“æ„ä¸å¯¼å…¥ï¼‰

> ä»Šæ—¥ç›®æ ‡ï¼šæŒæ¡ Series / DataFrame åŸºæœ¬æ¦‚å¿µã€åˆ›å»ºæ–¹å¼ã€è¯»å– CSVï¼Œå®Œæˆåˆ—/è¡Œé€‰æ‹©ã€æ–°å¢åˆ—ã€åŸºç¡€ç»Ÿè®¡ã€‚
å­¦ä¹ è·¯å¾„ï¼š
0. numpy å…¥é—¨ï¼ˆæ•°ç»„åŸºç¡€ï¼‰
1. ä¸ºä»€ä¹ˆéœ€è¦ pandas
2. Series ä¸ DataFrame æ¦‚å¿µ & å¿«é€Ÿåˆ›å»º
3. è¯»å– CSV å¹¶åˆæ­¥æŸ¥çœ‹æ•°æ®
4. åˆ— / è¡Œ é€‰å–ä¸åˆ‡ç‰‡
5. æ–°å¢åˆ—ï¼ˆå«å•ä½æ¢ç®—ç¤ºä¾‹ï¼‰
6. åŸºç¡€ç»Ÿè®¡ï¼ˆmean / max / value_countsï¼‰
7. Mini Caseï¼šæ‰¾å‡º PM2.5 å‡å€¼æœ€é«˜çš„ 3 ä¸ªåŸå¸‚
8. å°ç»“
9. è¯¾åä½œä¸šæç¤º

> å»ºè®®ï¼šæ¯å®Œæˆä¸€ä¸ªæ¨¡å—ï¼Œè‡ªå·±æ–°å¢ä¸€å°æ®µå˜å½¢ç»ƒä¹ ï¼ˆä¾‹å¦‚æ¢ä¸ªåˆ—åã€æ¢ä¸ªç­›é€‰æ¡ä»¶ï¼‰ã€‚

## 0. numpy å…¥é—¨ï¼ˆæ•°ç»„åŸºç¡€ï¼‰

Numpy æ˜¯ Python ç§‘å­¦è®¡ç®—çš„åŸºç¡€åº“ï¼Œpandas çš„åº•å±‚æ•°æ®ç»“æ„å°±æ˜¯åŸºäº numpy æ•°ç»„ã€‚

### 0.1 å¯¼å…¥ä¸æ•°ç»„åˆ›å»º
- å¸¸ç”¨åˆ«åï¼š`import numpy as np`
- åˆ›å»ºä¸€ç»´/äºŒç»´æ•°ç»„ï¼š`np.array`
- å¸¸ç”¨åˆå§‹åŒ–ï¼š`np.zeros`, `np.ones`, `np.arange`, `np.linspace`

In [1]:
import numpy as np

# ä¸€ç»´æ•°ç»„
a = np.array([1, 2, 3, 4])
print('ä¸€ç»´æ•°ç»„:', a)

# äºŒç»´æ•°ç»„
b = np.array([[1, 2, 3], [4, 5, 6]])
print('äºŒç»´æ•°ç»„:\n', b)

# å…¨é›¶/å…¨ä¸€æ•°ç»„
z = np.zeros((2, 3))
o = np.ones((2, 3))
print('å…¨é›¶:\n', z)
print('å…¨ä¸€:\n', o)

# ç­‰å·®æ•°ç»„
ar = np.arange(0, 10, 2)  # æ­¥é•¿ä¸º2
print('arange:', ar)

# ç­‰é—´éš”æ•°ç»„
lin = np.linspace(0, 1, 5)  # 5ä¸ªç‚¹ï¼Œå«å¤´å°¾
print('linspace:', lin)

ä¸€ç»´æ•°ç»„: [1 2 3 4]
äºŒç»´æ•°ç»„:
 [[1 2 3]
 [4 5 6]]
å…¨é›¶:
 [[0. 0. 0.]
 [0. 0. 0.]]
å…¨ä¸€:
 [[1. 1. 1.]
 [1. 1. 1.]]
arange: [0 2 4 6 8]
linspace: [0.   0.25 0.5  0.75 1.  ]

### 0.2 æ•°ç»„å±æ€§ä¸å½¢çŠ¶
- `shape`ï¼šæ•°ç»„çš„ç»´åº¦
- `dtype`ï¼šå…ƒç´ ç±»å‹
- `ndim`ï¼šç»´åº¦æ•°

In [8]:
b = np.array([[1.0, 2, 3], [4, 5, 6]])
print('b =\n', b)
print('b.shape =', b.shape)
print('b.dtype =', b.dtype)
print('b.ndim =', b.ndim)

b =
 [[1. 2. 3.]
 [4. 5. 6.]]
b.shape = (2, 3)
b.dtype = float64
b.ndim = 2

### 0.3 ç´¢å¼•ä¸åˆ‡ç‰‡
- ä¸ Python åˆ—è¡¨ç±»ä¼¼ï¼Œæ”¯æŒåˆ‡ç‰‡ã€æ­¥é•¿
- å¤šç»´æ•°ç»„ç”¨é€—å·åˆ†éš”ç´¢å¼•

In [14]:
a = np.array([1, 2, 3, 4])
print('a =', a)
# ä¸€ç»´åˆ‡ç‰‡
print('a[1:3] =', a[1:3])
print('-'*30)

b = np.array([[1.0, 2, 3], [4, 5, 6]])
print('b =\n', b)
# äºŒç»´ç´¢å¼•
print('b[0, 1] =', b[0, 1])
print('b[1, :] =', b[1, :])
print('b[:, 2] =', b[:, 2])

a = [1 2 3 4]
a[1:3] = [2 3]
------------------------------
b =
 [[1. 2. 3.]
 [4. 5. 6.]]
b[0, 1] = 2.0
b[1, :] = [4. 5. 6.]
b[:, 2] = [3. 6.]

### 0.4 åŸºç¡€è¿ç®—ä¸å¹¿æ’­
- æ”¯æŒæ•°ç»„é—´å’Œæ ‡é‡çš„åŠ å‡ä¹˜é™¤
- å¹¿æ’­ï¼šä¸åŒå½¢çŠ¶è‡ªåŠ¨æ‰©å±•å‚ä¸è¿ç®—

In [22]:
a = np.array([1, 2, 3, 4])
print('a =', a)
print('-'*30)

# ä¸€ç»´å¹¿æ’­
print('a + 10 =', a + 10)
print('a * 2 =', a * 2)
print('a + [10, 20, 30, 40] =', a + np.array([10, 20, 30, 40]))
print('-'*30)

b = np.array([[1.0, 2, 3], [4, 5, 6]])
print('b =\n', b)
print('-'*30)
# äºŒç»´å¹¿æ’­
print('b + 1 =\n', b + 1)
print('-'*30)
print('b + [10, 20, 30] =\n', b + np.array([10, 20, 30]))
print('-'*30)
print('b + [[1], [2]] =\n', b + np.array([[1], [2]]))
print('-'*30)
# print('b + [1, 2] =\n', b + np.array([1, 2]))
# print('-'*30)

a = [1 2 3 4]
------------------------------
a + 10 = [11 12 13 14]
a * 2 = [2 4 6 8]
a + [10, 20, 30, 40] = [11 22 33 44]
------------------------------
b =
 [[1. 2. 3.]
 [4. 5. 6.]]
------------------------------
b + 1 =
 [[2. 3. 4.]
 [5. 6. 7.]]
------------------------------
b + [10, 20, 30] =
 [[11. 22. 33.]
 [14. 25. 36.]]
------------------------------
b + [[1], [2]] =
 [[2. 3. 4.]
 [6. 7. 8.]]
------------------------------

### 0.5 å¸¸ç”¨ç»Ÿè®¡ä¸é€»è¾‘è¿ç®—
- æ±‚å’Œ/å‡å€¼/æœ€å¤§å€¼ï¼š`sum`, `mean`, `max`
- å¸ƒå°”è¿‡æ»¤ï¼š`a[a > 2]`

In [24]:
print('a.sum() =', a.sum())
print('a.mean() =', a.mean())
print('a.max() =', a.max())

# å¸ƒå°”è¿‡æ»¤
print('a > 2:', a > 2)
print('a[a > 2] =', a[a > 2])

# äºŒç»´è¿‡æ»¤
print('b > 2:\n', b > 2)
print('b[b > 2] =', b[b > 2])

a.sum() = 10
a.mean() = 2.5
a.max() = 4
a > 2: [False False  True  True]
a[a > 2] = [3 4]
b > 2:
 [[False False  True]
 [ True  True  True]]
b[b > 2] = [3. 4. 5. 6.]

## 1. ä¸ºä»€ä¹ˆéœ€è¦ pandas?
æ˜¨å¤©æˆ‘ä»¬ç”¨ list + dict ç»„ç»‡äº†ä¸€ä¸ªç®€æ˜“è¡¨æ ¼ã€‚é—®é¢˜ï¼š
- ä»£ç éå†å†—é•¿ï¼Œå®¹æ˜“å‡ºé”™
- ç»Ÿè®¡ / ç­›é€‰ / æ’åºéœ€è¦è‡ªå·±å†™å¾ªç¯

pandas æä¾›ï¼š
- æ›´ç›´è§‚çš„è¡¨æ ¼ç»“æ„ (DataFrame)
- ä¸€è¡Œä»£ç å®Œæˆå¸¸è§ç»Ÿè®¡
- è‡ªåŠ¨å¯¹é½ã€å¤„ç†ç¼ºå¤±å€¼æœºåˆ¶
- è¯»å–/å¯¼å‡ºå¤šç§æ ¼å¼ (CSV, Excel, JSON...)

ä¸€å¥è¯ï¼š**è®©æ•°æ®æ•´ç† + åˆ†ææ›´é«˜æ•ˆ**ã€‚

## 2. Series ä¸ DataFrame æ¦‚å¿µ & å¿«é€Ÿåˆ›å»º
- Seriesï¼šä¸€åˆ—æ•°æ® + ç´¢å¼• (å¸¦æ ‡ç­¾çš„ä¸€ç»´æ•°ç»„)ã€‚
- DataFrameï¼šå¤šåˆ—ç»„æˆçš„äºŒç»´è¡¨ (å…±äº«è¡Œç´¢å¼•)ã€‚

ä¸‹é¢é€šè¿‡å­—å…¸ä¸åˆ—è¡¨å¿«é€Ÿåˆ›å»ºã€‚

In [26]:
import pandas as pd  # é€šå¸¸çº¦å®šå†™æ³•

# åˆ›å»ºä¸€ä¸ª Series
s = pd.Series([10, 20, 30], name='ç¤ºä¾‹åˆ—')
print('Series:')
print(s)
print('ç´¢å¼• index:', s.index)

# åˆ›å»ºä¸€ä¸ª DataFrame (å­—å…¸ key=åˆ—å, value=åˆ—è¡¨)
data = {
    'åŸå¸‚': ['å¹¿å·', 'æ·±åœ³', 'ä½›å±±'],
    'PM25': [42, 35, 50]
}
df_small = pd.DataFrame(data)
print('DataFrame:')
print(df_small)
print('åˆ—å columns:', df_small.columns)

Series:
0    10
1    20
2    30
Name: ç¤ºä¾‹åˆ—, dtype: int64
ç´¢å¼• index: RangeIndex(start=0, stop=3, step=1)
DataFrame:
   åŸå¸‚  PM25
0  å¹¿å·    42
1  æ·±åœ³    35
2  ä½›å±±    50
åˆ—å columns: Index(['åŸå¸‚', 'PM25'], dtype='object')

In [27]:
# DataFrame è¿˜å¯ä»¥ä»â€œåˆ—è¡¨ + å­—å…¸â€ç»“æ„æ„å»ºï¼š
records = [
    {'åŸå¸‚': 'å¹¿å·', 'PM25': 42},
    {'åŸå¸‚': 'æ·±åœ³', 'PM25': 35},
    {'åŸå¸‚': 'ä½›å±±', 'PM25': 50}
]
df_from_records = pd.DataFrame(records)
df_from_records

   åŸå¸‚  PM25
0  å¹¿å·    42
1  æ·±åœ³    35
2  ä½›å±±    50

## 3. è¯»å– CSV å¹¶åˆæ­¥æŸ¥çœ‹æ•°æ®
### CSV æ ¼å¼ç®€ä»‹
CSVï¼ˆComma-Separated Valuesï¼Œé€—å·åˆ†éš”å€¼ï¼‰æ˜¯ä¸€ç§å¸¸è§çš„è¡¨æ ¼æ•°æ®å­˜å‚¨æ ¼å¼ã€‚æ¯ä¸€è¡Œä¸ºä¸€æ¡è®°å½•ï¼Œå­—æ®µä¹‹é—´ç”¨é€—å·åˆ†éš”ã€‚
- **æ‰©å±•å**ï¼š.csv
- **ç»“æ„ç¤ºä¾‹**ï¼š
```csv
city,PM25,PM10,NO2,province
å¹¿å·,42,60,18,å¹¿ä¸œ
æ·±åœ³,35,50,20,å¹¿ä¸œ
ä½›å±±,50,70,22,å¹¿ä¸œ
```
- **å¸¸è§ç‰¹æ€§**ï¼š
  - ç¬¬ä¸€è¡Œä¸ºè¡¨å¤´ï¼ˆå­—æ®µåï¼‰
  - å­—æ®µä¹‹é—´ç”¨è‹±æ–‡é€—å·åˆ†éš”
  - å­—ç¬¦ä¸²å­—æ®µå¯ç”¨å¼•å·åŒ…è£¹ï¼ˆå¦‚é‡é€—å·æˆ–æ¢è¡Œï¼‰
  - ç¼ºå¤±å€¼é€šå¸¸ç•™ç©ºï¼ˆ,,ï¼‰æˆ–ç”¨ç‰¹æ®Šæ ‡è®°ï¼ˆå¦‚NAï¼‰
- **æ³¨æ„äº‹é¡¹**ï¼š
  - ä¸åŒåœ°åŒºå¯èƒ½ç”¨åˆ†å·ã€åˆ¶è¡¨ç¬¦ç­‰åˆ†éš”ï¼ˆå¯ç”¨å‚æ•° sep æŒ‡å®šï¼‰
  - ç¼–ç æ ¼å¼å¸¸è§ä¸º UTF-8 æˆ– GBKï¼ˆä¸­æ–‡ Windows ä¸‹å¸¸è§ GBKï¼‰
  - å­—æ®µå†…å®¹å¦‚åŒ…å«é€—å·ã€æ¢è¡Œç­‰ç‰¹æ®Šå­—ç¬¦ï¼Œéœ€ç”¨å¼•å·åŒ…è£¹

æˆ‘ä»¬ä½¿ç”¨æä¾›çš„ `air_quality_simple.csv`ã€‚æ­¥éª¤ï¼š
1. read_csv è¯»å–
2. head() æŸ¥çœ‹å‰å‡ è¡Œ
3. info() äº†è§£åˆ—ä¸æ•°æ®ç±»å‹
4. shape / dtypes æŸ¥çœ‹å½¢çŠ¶ä¸ç±»å‹

In [ ]:
# è¯»å–æ•°æ® (è·¯å¾„ç›¸å¯¹äºé¡¹ç›®æ ¹ç›®å½•)
air = pd.read_csv('../data/air_quality_simple.csv') # read_excel()
# æŸ¥çœ‹å‰ 5 è¡Œ
air.head()

  city province  PM25  PM10  NO2  SO2
0   å¹¿å·       å¹¿ä¸œ   NaN    55   19    7
1   æ·±åœ³       å¹¿ä¸œ  35.0    48   17    6
2   ä½›å±±       å¹¿ä¸œ  50.0    70   23    9
3   åŒ—äº¬       åŒ—äº¬  60.0    80   35   12
4   ä¸Šæµ·       ä¸Šæµ·  45.0    62   28   10

In [34]:
# æ•°æ®æ¦‚å†µ
print('å½¢çŠ¶ shape =', air.shape)  # (è¡Œæ•°, åˆ—æ•°)
print('åˆ—ç±»å‹ dtypes:')
print(air.dtypes)
print('info():')
print(air.info())  # info è‡ªå¸¦è¾“å‡ºè¿”å› None

å½¢çŠ¶ shape = (10, 6)
åˆ—ç±»å‹ dtypes:
city         object
province     object
PM25        float64
PM10          int64
NO2           int64
SO2           int64
dtype: object
info():
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   city      10 non-null     object
 1   province  10 non-null     object
 2   PM25      9 non-null      float64
 3   PM10      10 non-null     int64
 4   NO2       10 non-null     int64
 5   SO2       10 non-null     int64
dtypes: float64(1), int64(3), object(2)
memory usage: 612.0+ bytes
None

### å°ç»ƒä¹  1 (è‡ªå·±åŠ¨æ‰‹)
1. ä½¿ç”¨ head(3) åªçœ‹å‰ä¸‰è¡Œã€‚
2. ä½¿ç”¨ tail(2) æŸ¥çœ‹æœ€åä¸¤è¡Œã€‚
3. è§‚å¯Ÿå“ªå‡ åˆ—æ˜¯æ•°å€¼å‹ã€‚

(è‡ªè¡Œåœ¨ä¸‹æ–¹æ–°å»ºå•å…ƒæ ¼)

## 4. åˆ— / è¡Œ é€‰å–ä¸åˆ‡ç‰‡
å¸¸ç”¨æ–¹å¼ï¼š
- å–å•åˆ—ï¼šdf['åˆ—å'] (å¾—åˆ° Series)
- å–å¤šåˆ—ï¼šdf[['åˆ—1','åˆ—2']]
- è¡Œå®šä½ï¼šiloc æŒ‰ä½ç½® / loc æŒ‰æ ‡ç­¾ (æˆ‘ä»¬å½“å‰è¡Œæ ‡ç­¾æ˜¯é»˜è®¤ 0,1,2,...)
- åˆ‡ç‰‡ï¼šdf.iloc[è¡Œèµ·:è¡Œæ­¢]  ç±»ä¼¼ Python åˆ—è¡¨åˆ‡ç‰‡ (ä¸å«è¡Œæ­¢)

In [35]:
# å–å•åˆ— (Series)
pm25 = air['PM25']
print('PM2.5 åˆ—å‰ 5 ä¸ªå€¼:', pm25.head().tolist())

# å–å¤šåˆ— (ä»æ˜¯ DataFrame)
subset = air[['city', 'PM25', 'PM10']]
subset.head(3)

PM2.5 åˆ—å‰ 5 ä¸ªå€¼: [nan, 35.0, 50.0, 60.0, 45.0]

  city  PM25  PM10
0   å¹¿å·   NaN    55
1   æ·±åœ³  35.0    48
2   ä½›å±±  50.0    70

In [36]:
# è¡Œé€‰å–ï¼šç¬¬ 0 è¡Œã€ç¬¬ 0~2 è¡Œã€ç‰¹å®šè¡Œé›†åˆ
row0 = air.iloc[0]  # ç¬¬ä¸€è¡Œ Series iloc = index location
print('ç¬¬ä¸€è¡Œ city =', row0['city'])

rows_0_3 = air.iloc[0:3]  # 0,1,2 è¡Œ
rows_0_3

ç¬¬ä¸€è¡Œ city = å¹¿å·

  city province  PM25  PM10  NO2  SO2
0   å¹¿å·       å¹¿ä¸œ   NaN    55   19    7
1   æ·±åœ³       å¹¿ä¸œ  35.0    48   17    6
2   ä½›å±±       å¹¿ä¸œ  50.0    70   23    9

In [37]:
# åŒæ—¶é€‰è¡Œåˆ—ï¼šiloc[è¡Œåˆ‡ç‰‡, åˆ—åˆ‡ç‰‡] ä¾‹å¦‚å‰ 3 è¡Œ + å‰ 3 åˆ—
air.iloc[0:3, 0:3]

  city province  PM25
0   å¹¿å·       å¹¿ä¸œ   NaN
1   æ·±åœ³       å¹¿ä¸œ  35.0
2   ä½›å±±       å¹¿ä¸œ  50.0

In [41]:
score = pd.read_excel('../data/æˆç»©å•.xlsx', index_col='å­¦å·')
score.head()

      å§“å  è¯­æ–‡     æ•°å­¦     è‹±è¯­
å­¦å·
2401  å¼ ä¸‰  59  59..5   60.5
2402  æå››  90     95  100.0
2403  ç‹äº”  95    100   90.0

In [42]:
score.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3 entries, 2401 to 2403
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   å§“å      3 non-null      object
 1   è¯­æ–‡      3 non-null      int64
 2   æ•°å­¦      3 non-null      object
 3   è‹±è¯­      3 non-null      float64
dtypes: float64(1), int64(1), object(2)
memory usage: 120.0+ bytes

In [44]:
score.iloc[0]

å§“å       å¼ ä¸‰
è¯­æ–‡       59
æ•°å­¦    59..5
è‹±è¯­     60.5
Name: 2401, dtype: object

In [49]:
score.loc[2401:2403]

      å§“å  è¯­æ–‡     æ•°å­¦     è‹±è¯­
å­¦å·
2401  å¼ ä¸‰  59  59..5   60.5
2402  æå››  90     95  100.0
2403  ç‹äº”  95    100   90.0

### å°ç»ƒä¹  2
1. å–å‡ºç¬¬ 5~7 è¡Œçš„ city ä¸ PM10 åˆ—ã€‚
2. åªå– province åˆ—ç»„æˆä¸€ä¸ª Series å¹¶æŸ¥çœ‹å”¯ä¸€å€¼ (unique)ã€‚
3. ç»Ÿè®¡æ¯ä¸ª province å‡ºç°æ¬¡æ•° (ä½¿ç”¨ value_counts)ã€‚

## 5. æ–°å¢åˆ—ï¼ˆå•ä½æ¢ç®—ç¤ºä¾‹ï¼‰
éœ€æ±‚ï¼šå‡è®¾ PM2.5 å½“å‰å•ä½æ˜¯ Î¼g/mÂ³ï¼Œæˆ‘ä»¬æƒ³æ¢ç®—æˆ mg/mÂ³ (åªä¸ºæ¼”ç¤ºï¼Œå®é™…æ„ä¹‰ä¸ä¸€å®šå¸¸ç”¨)ã€‚
æ¢ç®—ï¼š1 mg = 1000 Î¼gï¼Œå› æ­¤ mg_value = åŸå€¼ / 1000ã€‚

In [50]:
# æ–°å¢åˆ—ï¼šPM25_mg
air['PM25_mg'] = air['PM25'] / 1000
air[['city', 'PM25', 'PM25_mg']].head()

  city  PM25  PM25_mg
0   å¹¿å·   NaN      NaN
1   æ·±åœ³  35.0    0.035
2   ä½›å±±  50.0    0.050
3   åŒ—äº¬  60.0    0.060
4   ä¸Šæµ·  45.0    0.045

### è¡¥å……ï¼šè¦†ç›–ä¸åˆ é™¤åˆ—
- ç›´æ¥å†æ¬¡èµ‹å€¼å¯è¦†ç›–ï¼šair['PM25_mg'] = ...
- åˆ é™¤åˆ—ï¼šdel air['PM25_mg'] æˆ– air.drop(columns=['PM25_mg'], inplace=True)
(æœ¬è¯¾ä¸å¼ºåˆ¶è¦æ±‚æŒæ¡ inplace ç»†èŠ‚ï¼ŒçŸ¥é“ç»“æœå³å¯)ã€‚

## 6. åŸºç¡€ç»Ÿè®¡ (mean / max / value_counts)
å¸¸ç”¨ï¼š
- å¹³å‡å€¼ mean()
- æœ€å¤§/æœ€å° max() / min()
- æ’åº sort_values()
- åˆ†ç±»é¢‘æ¬¡ value_counts() (Series æ–¹æ³•)

æˆ‘ä»¬æ¥åšï¼š1) PM2.5 å¹³å‡å€¼ 2) PM10 æœ€å¤§å€¼å¯¹åº”åŸå¸‚ 3) å„çœä»½å‡ºç°æ¬¡æ•°ã€‚

In [51]:
pm25_mean = air['PM25'].mean()
print('PM2.5 å¹³å‡å€¼ =', round(pm25_mean, 2))

# PM10 æœ€å¤§å€¼ä¸å¯¹åº”è¡Œ
pm10_max = air['PM10'].max()
row_pm10_max = air[air['PM10'] == pm10_max]  # å¸ƒå°”è¿‡æ»¤
print('PM10 æœ€å¤§å€¼ =', pm10_max)
print('å¯¹åº”åŸå¸‚:')
print(row_pm10_max[['city', 'PM10']])

# çœä»½è®¡æ•°
province_counts = air['province'].value_counts()
province_counts

PM2.5 å¹³å‡å€¼ = 50.22
PM10 æœ€å¤§å€¼ = 85
å¯¹åº”åŸå¸‚:
  city  PM10
9   è¥¿å®‰    85

province
å¹¿ä¸œ    3
åŒ—äº¬    1
ä¸Šæµ·    1
æµ™æ±Ÿ    1
å››å·    1
é‡åº†    1
æ¹–åŒ—    1
é™•è¥¿    1
Name: count, dtype: int64

### å°ç»ƒä¹  3
1. è®¡ç®— NO2 çš„å¹³å‡å€¼ä¸æœ€å¤§å€¼ã€‚
2. æŒ‰ PM25 æ’åºå–å‡ºå‰ 5 è¡Œ (sort_values)ã€‚
3. è®¡ç®— PM2.5 ä¸ PM10 çš„å·® (PM10 - PM25) æ–°å¢ä¸ºä¸€åˆ—ã€‚

## 7. Mini Caseï¼šæ‰¾å‡º PM2.5 å‡å€¼æœ€é«˜çš„ 3 ä¸ªåŸå¸‚
éœ€æ±‚ï¼šè¾“å‡ºåŸå¸‚åç§°ä¸å¯¹åº” PM2.5 å€¼ã€‚
æ­¥éª¤ï¼š
1. æŒ‰ PM25 é™åºæ’åº
2. å–å‰ 3 è¡Œ
3. åªä¿ç•™ city / PM25 åˆ—å±•ç¤º

In [52]:
top3 = air.sort_values(by='PM25', ascending=False).head(3)[['city', 'PM25']]
top3

  city  PM25
9   è¥¿å®‰  63.0
3   åŒ—äº¬  60.0
6   æˆéƒ½  58.0

æ‹“å±•æ€è€ƒï¼šå¦‚æœä»¥åæœ‰æ—¥æœŸåˆ—ï¼Œæˆ‘ä»¬å¯ä»¥å…ˆ groupby æŒ‰åŸå¸‚æ±‚å¹³å‡å†æ’åºã€‚ä»Šå¤©å…ˆä¸å±•å¼€ã€‚

## 8. è¯¾åä½œä¸šæç¤º
è¯·æ–°å»º *homework_day2.ipynb* å®Œæˆï¼š
1. è‡ªå·±åˆ›å»ºä¸€ä¸ª â€œå­¦ä¹ æ‰“å¡â€ CSVï¼ˆåˆ—ï¼šday,hours,activityï¼‰ï¼Œè‡³å°‘ 7 è¡Œã€‚
2. ç”¨ read_csv è¯»å…¥åï¼š
   - æŸ¥çœ‹ head ä¸ info
   - æ–°å¢åˆ—ï¼šhours_minutes = hours * 60
   - è®¡ç®—æ€»å­¦ä¹ æ—¶é•¿ä¸å¹³å‡æ¯å¤©å­¦ä¹ æ—¶é•¿
   - æ‰¾å‡ºå­¦ä¹ æ—¶é•¿æœ€é•¿é‚£å¤© (æ’åºæˆ– idxmax)
3. å†™ 80 å­—ï¼šåˆ†æä½ åœ¨å“ªäº›å¤©æ•ˆç‡æ›´é«˜ï¼Œæ˜¯å¦å­˜åœ¨åç§‘ (æŸ activity å æ¯”å¾ˆé«˜)ã€‚
4. é¢å¤–åŠ åˆ† (å¯é€‰)ï¼švalue_counts(normalize=True) ç»Ÿè®¡å„ activity å æ¯”ã€‚

æäº¤è¦æ±‚ï¼šä¿è¯è¿è¡Œé¡ºåºä»ä¸Šåˆ°ä¸‹ä¸ä¼šæŠ¥é”™ï¼Œæ ‡æ³¨æ¯ä¸€æ­¥æ ‡é¢˜ã€‚

---
ğŸ“Œ æç¤ºï¼šDay 3 å°†è¿›å…¥æ•°æ®æ¸…æ´— (ç¼ºå¤±/é‡å¤/ç±»å‹è½¬æ¢)ã€‚ä»Šå¤©çš„ç»ƒä¹ è¯·åŠ¡å¿…ç†Ÿæ‚‰åˆ—é€‰å–ä¸æ’åºï¼Œå¦åˆ™åé¢ä¼šç´¯ç§¯å›°éš¾ã€‚

## 8. å°ç»“
ä»Šæ—¥å›é¡¾ï¼š
1. ç†è§£ pandas ä¸¤å¤§æ ¸å¿ƒç»“æ„ï¼šSeriesï¼ˆä¸€åˆ—ï¼‰ä¸ DataFrameï¼ˆäºŒç»´è¡¨ï¼‰ã€‚
2. è¯»å†™ä¸åˆæ¢ï¼šread_csv / head / info / dtypes / shapeã€‚
3. é€‰å–ï¼šå•åˆ—ã€å¤šåˆ—ã€iloc/locã€åˆ‡ç‰‡ä¸å¸ƒå°”è¿‡æ»¤é›å½¢ã€‚
4. æ–°å¢åˆ—ï¼šç›´æ¥èµ‹å€¼ï¼›å•ä½æ¢ç®—ç¤ºä¾‹åŠ æ·±â€œåˆ—=å‘é‡â€æ¦‚å¿µã€‚
5. åŸºç¡€ç»Ÿè®¡ï¼šmean / max / value_counts / sort_values æ”¯æ’‘å¿«é€Ÿæ´å¯Ÿã€‚
6. Mini Case ä½“ç°â€œæ’åºâ†’å–å‰Nâ†’é€‰åˆ—â€ç»„åˆæ€è·¯ã€‚

æ–¹æ³•æé†’ï¼šå§‹ç»ˆå…ˆâ€œæŸ¥çœ‹(head/info)â€å†â€œæ“ä½œâ€ï¼Œç¡®ä¿å¯¹æ•°æ®ç»“æ„å¿ƒé‡Œæœ‰æ•°ã€‚
ä¸‹ä¸€æ­¥è¡”æ¥ï¼šç†Ÿæ‚‰è¿™äº›åŸºæœ¬æ“ä½œåï¼ŒDay 3 æ‰èƒ½é«˜æ•ˆå®šä½å¹¶å¤„ç†ç¼ºå¤±ä¸é‡å¤ã€‚

In [ ]:
# è¿›é˜¶/æ˜“é”™ç¤ºä¾‹é›†åˆ
import pandas as pd
air = pd.read_csv('../data/air_quality_simple.csv')

# 1. é“¾å¼èµ‹å€¼è­¦ç¤ºç¤ºä¾‹ï¼ˆæ¼”ç¤ºï¼Œä¸ä¸€å®šè§¦å‘ï¼‰ï¼š
tmp = air[air['PM25'] > 40]
# æ­£ç¡®ï¼šcopy å†æ“ä½œ
tmp2 = air[air['PM25'] > 40].copy()
tmp2['PM25_mg'] = tmp2['PM25'] / 1000

# 2. query ç”¨æ³•ï¼š
high_pm = air.query('PM25 > 55 or PM10 > 80')[['city','PM25','PM10']].head()
print('query ç»“æœç¤ºä¾‹:\n', high_pm)

# 3. å¤šåˆ—æ’åºï¼š
sorted_multi = air.sort_values(['PM25','PM10'], ascending=[False, True]).head()
print('å¤šåˆ—æ’åº:\n', sorted_multi[['city','PM25','PM10']])

# 4. rename + assign + è®¡ç®—å·®å€¼ï¼š
air2 = (air.rename(columns={'PM25':'PM25_val'})
         .assign(PM_diff=lambda d: d['PM10'] - d['PM25_val']))
print(air2[['city','PM25_val','PM10','PM_diff']].head())

# 5. åˆ†ç»„å æ¯”ï¼š
province_pct = air['province'].value_counts(normalize=True).round(3)
print('çœä»½å æ¯”:\n', province_pct)

### å¸¸è§æ˜“é”™ç‚¹ä¸è¿›é˜¶ç¤ºä¾‹ (é˜…è¯» + ç»ƒä¹ )
1. å¤åˆ¶ vs è§†å›¾ï¼šé“¾å¼å†™æ³•å¯èƒ½è§¦å‘ SettingWithCopyWarningï¼Œåº”æ˜¾å¼ä½¿ç”¨ .copy()ã€‚
2. å¸ƒå°”è¿‡æ»¤ç»„åˆï¼šç”¨æ‹¬å·åŒ…è£¹æ¡ä»¶ï¼›å¯ä½¿ç”¨ query ç®€åŒ–è¯­æ³•ã€‚
3. é¢‘æ¬¡å æ¯”ï¼švalue_counts(normalize=True) è¿”å›æ¯”ä¾‹ã€‚
4. å¤šåˆ—æ’åºï¼šsort_values(['PM25','PM10'], ascending=[False, True])ã€‚
5. é‡å‘½åï¼šrename(columns={'PM25':'PM25_val'})ï¼›æ‰¹é‡å¯ç”¨å­—å…¸ã€‚
6. ç´¢å¼•è®¾ç½®ï¼šset_index('city') ä¾¿äºåŸºäºæ ‡ç­¾é€‰æ‹©ï¼Œreset_index() è¿˜åŸã€‚
7. assign é“¾å¼æ–°å¢ï¼šdf.assign(PM_diff=lambda d: d.PM10-d.PM25)ã€‚
8. é€‰æ‹©åˆ—æ¨¡å¼ï¼šæ˜¾å¼åˆ—æ¸…å• columns_keep = [...] å† df[columns_keep]ï¼Œåˆ©äºä¿æŒç¨³å®šã€‚
9. åˆ†ç»„å†æ’åºï¼šgroupby('province')['PM25'].mean().sort_values(ascending=False)
10. å†…å­˜/ç±»å‹ä¼˜åŒ–ï¼šæ•°å€¼æ•´å‹ä¸å«ç¼ºå¤±å¯è½¬ä¸ºæ›´å°ç±»å‹ (astype('int32')) (äº†è§£å³å¯)ã€‚