# Day 3ï¼šæ•°æ®æ¸…æ´—ä¸æ•´ç†ï¼ˆä¿è¯â€œå¹²å‡€â€ï¼‰

> ä»Šæ—¥ç›®æ ‡ï¼šèƒ½è¯†åˆ«å¹¶å¤„ç†ç¼ºå¤±ã€é‡å¤ã€ç±»å‹ä¸ä¸€è‡´é—®é¢˜ï¼›å®Œæˆä¸€ä¸ªç®€å•â€œæ¸…æ´—æŠ¥å‘Šâ€ã€‚

å­¦ä¹ è·¯å¾„ï¼š
1. ä¸ºä»€ä¹ˆæ¸…æ´—é‡è¦ (è´¨é‡ â†’ å¯ä¿¡åˆ†æ)
2. è¯»å–è„æ•°æ®å¹¶åˆæ­¥è¯Šæ–­
3. ç¼ºå¤±å€¼è¯†åˆ«ä¸å¤„ç† (dropna / fillna)
4. é‡å¤å€¼å¤„ç† (duplicated / drop_duplicates)
5. ç±»å‹è½¬æ¢ (to_datetime / astype)
6. æ¡ä»¶è¿‡æ»¤ (ç¤ºä¾‹ï¼šPM2.5 > é˜ˆå€¼)
7. Mini Caseï¼šç”Ÿæˆâ€œæ¸…æ´—å‰åå¯¹æ¯”â€æ‘˜è¦
8. å°ç»“
9. è¯¾åä½œä¸šæç¤º

## 1. ä¸ºä»€ä¹ˆæ•°æ®æ¸…æ´—é‡è¦ï¼Ÿ
- è„æ•°æ®ä¼šå¯¼è‡´è¯¯åˆ¤ï¼šå¹³å‡å€¼åå·®ã€è¶‹åŠ¿å¤±çœŸ
- å¯å¤ç°æ€§éœ€è¦è®°å½•æ¸…æ´—æ­¥éª¤
- çœŸå®ä¸–ç•Œæ•°æ®å¸¸è§é—®é¢˜ï¼šç¼ºå¤±/é‡å¤/æ ¼å¼ä¸ä¸€/å¼‚å¸¸å€¼

æ€æ”¿ç‚¹ï¼šå…¬å…±æ•°æ®æ²»ç†ä¸­ï¼Œé«˜è´¨é‡æ•°æ®æ˜¯ç§‘å­¦å†³ç­–ä¸å…¬å¹³æ”¿ç­–çš„åŸºç¡€ã€‚

## 2. è¯»å–â€œè„â€æ•°æ®å¹¶åˆæ­¥è¯Šæ–­
ç¤ºä¾‹æ–‡ä»¶ï¼š`air_quality_dirty.csv` åŒ…å«ï¼š
- é‡å¤è¡Œ (åŒä¸€æ—¥æœŸ+åŸå¸‚é‡å¤)
- ç¼ºå¤±å€¼ (ç©ºç™½ æˆ– NA)
- æ—¥æœŸæ ¼å¼ä¸ç»Ÿä¸€ (YYYY-MM-DD vs YYYY/MM/DD)
- æ•°å€¼ç¼ºå¤± (ç©º / NA)

In [1]:
import pandas as pd
import numpy as np

dirty = pd.read_csv('../data/air_quality_dirty.csv')
dirty.head(8)

         date city province  PM25  PM10   NO2  SO2
0  2025-09-01   å¹¿å·       å¹¿ä¸œ  42.0  55.0  19.0    7
1  2025-09-01   å¹¿å·       å¹¿ä¸œ  42.0  55.0  19.0    7
2  2025-09-01   æ·±åœ³       å¹¿ä¸œ  35.0  48.0  17.0    6
3  2025-09-01   ä½›å±±       å¹¿ä¸œ   NaN  70.0  23.0    9
4  2025-09-02   åŒ—äº¬       åŒ—äº¬  60.0  80.0  35.0   12
5  2025-09-02   ä¸Šæµ·       ä¸Šæµ·  45.0  62.0   NaN   10
6  2025-09-02   æ­å·       æµ™æ±Ÿ  38.0  50.0  20.0    7
7  2025-09-02   æˆéƒ½       å››å·  58.0  75.0  30.0   11

In [2]:
# åŸºæœ¬æ¦‚å†µ
print('å½¢çŠ¶ shape:', dirty.shape)
print('info():')
print(dirty.info())

print('å„åˆ—ç¼ºå¤±å€¼è®¡æ•°:')
print(dirty.isnull().sum())

# æ³¨æ„: 'NA' å­—ç¬¦ä¸²ä¸æ˜¯è‡ªåŠ¨è¯†åˆ«ä¸ºç¼ºå¤±ï¼Œéœ€è¦æŒ‡å®šæˆ–æ›¿æ¢
dirty.tail(5)

å½¢çŠ¶ shape: (14, 7)
info():
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14 entries, 0 to 13
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   date      14 non-null     object
 1   city      14 non-null     object
 2   province  14 non-null     object
 3   PM25      12 non-null     float64
 4   PM10      13 non-null     float64
 5   NO2       13 non-null     float64
 6   SO2       14 non-null     int64
dtypes: float64(3), int64(1), object(3)
memory usage: 916.0+ bytes
None
å„åˆ—ç¼ºå¤±å€¼è®¡æ•°:
date        0
city        0
province    0
PM25        2
PM10        1
NO2         1
SO2         0
dtype: int64

          date city province  PM25  PM10   NO2  SO2
9   2025-09-03   æ­¦æ±‰       æ¹–åŒ—  48.0  65.0  26.0    9
10  2025-09-03   è¥¿å®‰       é™•è¥¿  63.0  85.0  37.0   14
11  2025/09/03   è¥¿å®‰       é™•è¥¿  63.0  85.0  37.0   14
12  2025-09-03   è¡¡é˜³       æ¹–å—   NaN  68.0  25.0    8
13  2025-09-03   æ ªæ´²       æ¹–å—  50.0   NaN  24.0    8

### å°ç»ƒä¹  1
1. ä½¿ç”¨ dirty.isnull().mean() æŸ¥çœ‹ç¼ºå¤±å æ¯”ã€‚
2. æ€è€ƒï¼šå“ªäº›åˆ—ç¼ºå¤±ä¼šå½±å“æˆ‘ä»¬åç»­æŒ‡æ ‡åˆ†æï¼Ÿ
(è¯·è‡ªå·±åœ¨ä¸‹æ–¹æ–°å»ºä»£ç å•å…ƒå°è¯•)

## 3. ç¼ºå¤±å€¼å¤„ç† (dropna / fillna)
å¸¸è§ç­–ç•¥ï¼š
- åˆ é™¤è¡Œï¼šdropna() (é€‚åˆç¼ºå¤±å°‘ä¸”ä¸èƒ½åˆç†å¡«è¡¥)
- å¡«å……ï¼šfillna(å‡å€¼/ä¸­ä½æ•°/å›ºå®šå€¼)
- ä¿ç•™ï¼šæ ‡è®°ç¼ºå¤± (æœ‰æ—¶ç¼ºå¤±æœ¬èº«æœ‰ä¿¡æ¯)

è¿™é‡Œæ¼”ç¤ºï¼š
1. å°† 'NA' å­—ç¬¦ä¸²æ›¿æ¢ä¸ºçœŸæ­£ç¼ºå¤± (np.nan)
2. åˆ†åˆ«è®¡ç®—åˆ é™¤æ³•ä¸å¡«å……å€¼æ³•çš„å½±å“ã€‚

In [3]:
# æ›¿æ¢ 'NA' ä¸º np.nan
dirty = dirty.replace('NA', np.nan)
dirty[['city','PM25','PM10']].head(10)

  city  PM25  PM10
0   å¹¿å·  42.0  55.0
1   å¹¿å·  42.0  55.0
2   æ·±åœ³  35.0  48.0
3   ä½›å±±   NaN  70.0
4   åŒ—äº¬  60.0  80.0
5   ä¸Šæµ·  45.0  62.0
6   æ­å·  38.0  50.0
7   æˆéƒ½  58.0  75.0
8   é‡åº†  55.0  72.0
9   æ­¦æ±‰  48.0  65.0

In [4]:
# æ–¹æ¡ˆAï¼šç›´æ¥åˆ é™¤å«ä»»æ„ç¼ºå¤±çš„è¡Œ
drop_any = dirty.dropna()
print('åˆ é™¤åå½¢çŠ¶:', drop_any.shape)

# æ–¹æ¡ˆBï¼šç”¨åˆ—å‡å€¼å¡«å……æ•°å€¼ç¼ºå¤±
fill_mean = dirty.copy()
for col in ['PM25','PM10','NO2','SO2']:
    fill_mean[col] = fill_mean[col].astype(float)
    fill_mean[col] = fill_mean[col].fillna(fill_mean[col].mean())

fill_mean[['PM25','PM10']].head()

åˆ é™¤åå½¢çŠ¶: (10, 7)

        PM25  PM10
0  42.000000  55.0
1  42.000000  55.0
2  35.000000  48.0
3  49.916667  70.0
4  60.000000  80.0

In [5]:
# å¯¹æ¯”å¡«å……å‰å PM25 å¹³å‡å€¼å˜åŒ–
orig_pm25_mean = dirty['PM25'].astype(float).mean()
drop_pm25_mean = drop_any['PM25'].astype(float).mean()
fill_pm25_mean = fill_mean['PM25'].astype(float).mean()
print('åŸå§‹ PM25 å‡å€¼:', round(orig_pm25_mean,2))
print('åˆ é™¤æ³• PM25 å‡å€¼:', round(drop_pm25_mean,2))
print('å‡å€¼å¡«å……å PM25 å‡å€¼:', round(fill_pm25_mean,2))

åŸå§‹ PM25 å‡å€¼: 49.92
åˆ é™¤æ³• PM25 å‡å€¼: 50.4
å‡å€¼å¡«å……å PM25 å‡å€¼: 49.92

### å°ç»ƒä¹  2
è¯·å°è¯•ï¼š
1. ç”¨ä¸­ä½æ•° (median) å¡«å…… PM10 ç¼ºå¤±ï¼Œå¹¶æ¯”è¾ƒå‡å€¼å˜åŒ–ã€‚
2. æ€è€ƒï¼šåˆ é™¤è¡Œæ˜¯å¦å¯èƒ½å¼•å…¥åå·®ï¼Ÿä¸ºä»€ä¹ˆï¼Ÿ

## 4. é‡å¤å€¼å¤„ç† (duplicated / drop_duplicates)
é—®é¢˜ï¼šç¬¬ä¸€è¡Œä¸ç¬¬äºŒè¡Œå®Œå…¨é‡å¤ã€‚

æµç¨‹ï¼š
1. ä½¿ç”¨ duplicated() æŸ¥çœ‹å“ªäº›è¡Œé‡å¤
2. è®¡æ•°ååˆ é™¤é‡å¤è¡Œ

In [6]:
# æ ‡è®°é‡å¤è¡Œ (é™¤ç¬¬ä¸€å‡ºç°å¤–çš„é‡å¤)
dup_mask = dirty.duplicated()
print('é‡å¤è¡Œæ•°é‡:', dup_mask.sum())
dirty[dup_mask].head()

é‡å¤è¡Œæ•°é‡: 1

         date city province  PM25  PM10   NO2  SO2
1  2025-09-01   å¹¿å·       å¹¿ä¸œ  42.0  55.0  19.0    7

In [7]:
# åˆ é™¤é‡å¤
no_dup = dirty.drop_duplicates()
print('åˆ é™¤é‡å¤åè¡Œæ•°:', no_dup.shape[0])

åˆ é™¤é‡å¤åè¡Œæ•°: 13

### å°ç»ƒä¹  3
å¦‚æœåªåˆ¤æ–­ (date, city) ç»„åˆæ˜¯å¦é‡å¤ï¼Œåº”è¯¥å¦‚ä½•å†™ï¼Ÿæç¤ºï¼šsubset å‚æ•°ã€‚

## 5. ç±»å‹è½¬æ¢ (to_datetime / astype)
é—®é¢˜ï¼šæ—¥æœŸåˆ—å­˜åœ¨ä¸¤ç§æ ¼å¼ '2025-09-03' ä¸ '2025/09/03'ã€‚
ä½¿ç”¨ to_datetime ç»Ÿä¸€ï¼Œå¹¶è§‚å¯Ÿå¤±è´¥æƒ…å†µ (errors='coerce')ã€‚

In [8]:
# å°è¯•ç›´æ¥è½¬æ¢
dirty['date_parsed'] = pd.to_datetime(dirty['date'], errors='coerce')
dirty[['date','date_parsed']].head(12)

          date date_parsed
0   2025-09-01  2025-09-01
1   2025-09-01  2025-09-01
2   2025-09-01  2025-09-01
3   2025-09-01  2025-09-01
4   2025-09-02  2025-09-02
5   2025-09-02  2025-09-02
6   2025-09-02  2025-09-02
7   2025-09-02  2025-09-02
8   2025-09-03  2025-09-03
9   2025-09-03  2025-09-03
10  2025-09-03  2025-09-03
11  2025/09/03         NaT

In [9]:
# æŸ¥çœ‹æ— æ³•è§£æçš„æƒ…å†µæ•°é‡ (NaT è§†ä¸ºç¼ºå¤±)
print('æ— æ³•è§£æçš„æ—¥æœŸæ•°é‡:', dirty['date_parsed'].isnull().sum())

æ— æ³•è§£æçš„æ—¥æœŸæ•°é‡: 1

å¦‚æœéƒ¨åˆ†æ— æ³•è§£æï¼Œå¯ï¼š
1. æ‰‹åŠ¨æ›¿æ¢æ ¼å¼
2. æŒ‡å®š format å‚æ•° (å½“æ ¼å¼ç»Ÿä¸€æ—¶)
å½“å‰ç¤ºä¾‹å·²å…¨éƒ¨æˆåŠŸè½¬æ¢ã€‚

### å°ç»ƒä¹  4
1. å°† PM25 åˆ—å¼ºåˆ¶è½¬ä¸º float (astype(float)) å¹¶ç»Ÿè®¡ç¼ºå¤±ã€‚
2. ç»Ÿè®¡æ¯ä¸ªåŸå¸‚è®°å½•æ¡æ•° (value_counts)ã€‚

## 6. æ¡ä»¶è¿‡æ»¤ç¤ºä¾‹
éœ€æ±‚ï¼šç­›é€‰ PM25 > 55 çš„è®°å½•ï¼Œå…³æ³¨å¯èƒ½æ±¡æŸ“è¾ƒé«˜çš„æƒ…å†µã€‚
å†™æ³•ï¼šdf[df['PM25'] > 55]ã€‚æ³¨æ„éœ€å…ˆä¿è¯ PM25 ä¸ºæ•°å€¼ã€‚

In [10]:
# ç¡®ä¿æ•°å€¼å‹
dirty['PM25'] = dirty['PM25'].astype(float)
high_pm25 = dirty[dirty['PM25'] > 55]
high_pm25[['date','city','PM25']]

          date city  PM25
4   2025-09-02   åŒ—äº¬  60.0
7   2025-09-02   æˆéƒ½  58.0
10  2025-09-03   è¥¿å®‰  63.0
11  2025/09/03   è¥¿å®‰  63.0

æ‹“å±•ï¼šå¤šæ¡ä»¶ç»„åˆç¤ºä¾‹
- (dirty['PM25'] > 55) & (dirty['province'] == 'é™•è¥¿')

### å°ç»ƒä¹  5
1. ç­›é€‰ province == 'å¹¿ä¸œ' ä¸” PM10 > 60 çš„è¡Œã€‚
2. æ€è€ƒï¼šä¸ºä»€ä¹ˆåŠ æ‹¬å·ï¼Ÿ(è¿ç®—ç¬¦ä¼˜å…ˆçº§)ã€‚

## 7. Mini Caseï¼šç”Ÿæˆâ€œæ¸…æ´—å‰åå¯¹æ¯”â€æ‘˜è¦
ç›®æ ‡ï¼šè¾“å‡ºä¸€ä¸ªç®€å•å­—å…¸æˆ–è¡¨ï¼Œå±•ç¤ºæ¸…æ´—æ•ˆæœï¼š
- åŸå§‹è¡Œæ•° vs å»é‡è¡Œæ•° vs åˆ é™¤ç¼ºå¤±åè¡Œæ•°
- PM25 åŸå§‹å‡å€¼ / ç¼ºå¤±å¡«å……åå‡å€¼ (æˆ–åˆ é™¤åå‡å€¼)
- ç¼ºå¤±å€¼æ€»æ•°å˜åŒ–

ä¸‹é¢ç»™å‡ºç¤ºä¾‹ä»£ç éª¨æ¶ï¼Œå¯è‡ªè¡Œè¡¥å……ã€‚

In [11]:
# é‡æ–°è¯»å–ï¼ŒæŒ‰é¡ºåºæ‰§è¡Œæ¸…æ´—ï¼Œç”Ÿæˆå¯¹æ¯”æ‘˜è¦
dirty2 = pd.read_csv('../data/air_quality_dirty.csv').replace('NA', np.nan)
orig_rows = dirty2.shape[0]
orig_missing = dirty2.isnull().sum().sum()

# å»é‡
no_dup2 = dirty2.drop_duplicates()
rows_no_dup = no_dup2.shape[0]

# åˆ é™¤å«ç¼ºå¤±è¡Œ
drop_na2 = no_dup2.dropna()
rows_drop_na = drop_na2.shape[0]
missing_after = drop_na2.isnull().sum().sum()

# å‡å€¼å¯¹æ¯” (ä»…æ¼”ç¤º PM25)
pm25_mean_orig = pd.to_numeric(dirty2['PM25'], errors='coerce').mean()
pm25_mean_drop = pd.to_numeric(drop_na2['PM25'], errors='coerce').mean()

summary = {
    'åŸå§‹è¡Œæ•°': orig_rows,
    'å»é‡åè¡Œæ•°': rows_no_dup,
    'å†åˆ é™¤ç¼ºå¤±åè¡Œæ•°': rows_drop_na,
    'åŸå§‹ç¼ºå¤±æ€»æ•°': int(orig_missing),
    'æ¸…æ´—åç¼ºå¤±æ€»æ•°': int(missing_after),
    'PM25 åŸå§‹å‡å€¼': round(pm25_mean_orig, 2),
    'PM25 åˆ é™¤ç¼ºå¤±åå‡å€¼': round(pm25_mean_drop, 2)
}
summary

{'åŸå§‹è¡Œæ•°': 14,
 'å»é‡åè¡Œæ•°': 13,
 'å†åˆ é™¤ç¼ºå¤±åè¡Œæ•°': 9,
 'åŸå§‹ç¼ºå¤±æ€»æ•°': 4,
 'æ¸…æ´—åç¼ºå¤±æ€»æ•°': 0,
 'PM25 åŸå§‹å‡å€¼': 49.92,
 'PM25 åˆ é™¤ç¼ºå¤±åå‡å€¼': 51.33}

æ€è€ƒï¼šå¦‚æœç”¨â€œå¡«å……â€è€Œä¸æ˜¯â€œåˆ é™¤â€ï¼Œå‡å€¼ä¼šå‘å“ªä¸ªæ–¹å‘åï¼Ÿä¸ºä»€ä¹ˆï¼Ÿ

## 8. å°ç»“

ä»Šæ—¥å…³é”®ç‚¹å›é¡¾ï¼š
1. ç¼ºå¤±å€¼ï¼šæ£€æµ‹ isnull() / å¤„ç† dropna() & fillna()ï¼›æ¯”è¾ƒä¸åŒç­–ç•¥å¯¹å‡å€¼çš„å½±å“ã€‚
2. é‡å¤å€¼ï¼šduplicated() / drop_duplicates()ï¼›å¯ç”¨ subset ç²¾å‡†æŒ‡å®šåˆ¤é‡å­—æ®µã€‚
3. ç±»å‹è½¬æ¢ï¼što_datetime ç»Ÿä¸€æ—¥æœŸï¼›astype å¼ºåˆ¶åˆ—ç±»å‹ã€‚
4. æ¡ä»¶è¿‡æ»¤ï¼šå¸ƒå°”ç´¢å¼• (å¯å¤šæ¡ä»¶ & / | ç»„åˆï¼Œæ³¨æ„æ‹¬å·)ã€‚
5. æ¸…æ´—æ‘˜è¦ï¼šç”¨â€œè¡Œæ•°/ç¼ºå¤±/å‡å€¼å˜åŒ–â€é‡åŒ–æ¸…æ´—æ•ˆæœï¼Œå½¢æˆå¯å¤ç°è®°å½•ã€‚

å®è·µå»ºè®®ï¼š
- ä»»ä½•æ›¿æ¢ä¸å¡«å……åŠ¨ä½œå‰ï¼Œå…ˆä¿ç•™ä¸€ä»½åŸå§‹æ•°æ®å‰¯æœ¬ã€‚
- è®°å½•æ¯ä¸€æ­¥ç†ç”±ï¼ˆä¸ºä½•åˆ é™¤ / å¡«å…… / è½¬æ¢ï¼‰ï¼Œæ–¹ä¾¿å¤ç›˜ä¸è¯´æ˜å¯é æ€§ã€‚

è¡”æ¥æç¤ºï¼šæœ‰äº†å¹²å‡€æ•°æ®ä¸æ¸…æ´—æ—¥å¿—ï¼ŒDay 4 çš„æ¢ç´¢ç»Ÿè®¡æ‰èƒ½é¿å…â€œåƒåœ¾è¿› â†’ åƒåœ¾å‡ºâ€ã€‚

In [12]:
# è¿›é˜¶æ¸…æ´—ä»£ç ç¤ºä¾‹
import pandas as pd, numpy as np
dirty_demo = pd.read_csv('../data/air_quality_dirty.csv').replace('NA', np.nan)

# 1. åˆ†ç»„å¡«å……ç¤ºä¾‹ï¼ˆPM25 æŒ‰åŸå¸‚å‡å€¼å¡«å……ï¼‰
filled_group = dirty_demo.copy()
filled_group['PM25'] = filled_group.groupby('city')['PM25'].transform(lambda s: pd.to_numeric(s, errors='coerce').fillna(pd.to_numeric(s, errors='coerce').mean()))

# 2. IQR ç®€æ˜“å¼‚å¸¸æ ‡è®° (å¯¹ PM10)
pm10 = pd.to_numeric(filled_group['PM10'], errors='coerce')
Q1, Q3 = pm10.quantile(0.25), pm10.quantile(0.75)
IQR = Q3 - Q1
upper = Q3 + 1.5 * IQR
filled_group['PM10_outlier'] = pm10 > upper
print('PM10 å¼‚å¸¸è¡Œæ•°:', filled_group['PM10_outlier'].sum())

# 3. ä¸»é”®é‡å¤æ£€æŸ¥
dup_key = filled_group.duplicated(subset=['date','city']).sum()
print('æŒ‰ (date,city) é‡å¤è¡Œæ•°:', dup_key)

# 4. æ¸…æ´—æ—¥å¿—ç®€å•å®ç°
log = []
def log_step(name, df_before, df_after):
    log.append({'step': name, 'rows_before': len(df_before), 'rows_after': len(df_after)})

# ç¤ºä¾‹ï¼šå»é‡ + åˆ é™¤å…¨ç©ºè¡Œ
df0 = filled_group
df1 = df0.drop_duplicates(); log_step('drop_duplicates', df0, df1)
df2 = df1.dropna(how='all'); log_step('dropna_all', df1, df2)
log

PM10 å¼‚å¸¸è¡Œæ•°: 0
æŒ‰ (date,city) é‡å¤è¡Œæ•°: 1

[{'step': 'drop_duplicates', 'rows_before': 14, 'rows_after': 13},
 {'step': 'dropna_all', 'rows_before': 13, 'rows_after': 13}]

### æ¸…æ´—è¿›é˜¶ä¸è¾¹ç•Œæ¡ˆä¾‹
1. è¿ç»­ç¼ºå¤±å¡«å……ï¼šæ—¶é—´åºåˆ—å¯ç”¨ fillna(method='ffill') / bfillã€‚
2. åˆ†ç»„å¡«å……ï¼šæŒ‰åŸå¸‚åˆ†åˆ«ç”¨å„è‡ªå‡å€¼å¡«å……ï¼šdf.groupby('city')['PM25'].transform(lambda s: s.fillna(s.mean()))ã€‚
3. æ¡ä»¶å¡«å……ï¼šä»…å¯¹ PM25 ç¼ºå¤±ä¸”åŒåˆ— PM10 ä¸ç¼ºå¤±æ—¶å¡«å›ºå®šå€¼ã€‚
4. å¼‚å¸¸æ£€æµ‹é›å½¢ï¼šåˆ©ç”¨ describe çš„ä¸Šä¸‹å››åˆ†ä½è·(IQR)ï¼Œæ ‡è®° > Q3 + 1.5*IQR çš„å€¼ï¼ˆäº†è§£ï¼‰ã€‚
5. ç±»å‹æ‰¹é‡è½¬æ¢ï¼šselect_dtypes(include='object') éå†å°è¯• to_datetime / to_numeric(errors='ignore')ã€‚
6. å­—ç¬¦ä¸²æ ‡å‡†åŒ–ï¼šstr.strip()/lower()/replace() é˜²æ­¢éšè—ç©ºæ ¼å¯¼è‡´é‡å¤ã€‚
7. é‡å¤ä¸»é”®æ ¡éªŒï¼šæœŸæœ› (date, city) å”¯ä¸€ï¼Œå¯ç”¨ duplicated(subset=['date','city']).any() æ£€æŸ¥ã€‚
8. è‡ªå®šä¹‰â€œæ¸…æ´—æ—¥å¿—â€ç»“æ„ï¼šappend {'step':'dropna subset=...', 'rows_before':..,'rows_after':..}ã€‚
9. inplace äº‰è®®ï¼šæ¨èç»“æœé‡æ–°èµ‹å€¼ï¼Œå‡å°‘å‰¯ä½œç”¨ã€‚
10. éªŒè¯ï¼šæ¸…æ´—ååšä¸€æ¬¡æ ¸å¿ƒæŒ‡æ ‡å¯¹æ¯”ï¼ˆå‡å€¼/ç¼ºå¤±ç‡/è¡Œæ•°ï¼‰å†™è¡¨æ ¼å­˜æ¡£ã€‚

## 9. è¯¾åä½œä¸šæç¤º
åœ¨ *homework_day3.ipynb* ä¸­ï¼š
1. å¤åˆ¶ä»Šæ—¥ dirty æ•°æ®ï¼Œæ–°å¢ 1 è¡Œè‡ªå·±è®¾è®¡çš„å«ç¼ºå¤±è®°å½•ã€‚
2. åˆ†åˆ«ä½¿ç”¨ åˆ é™¤æ³• / å‡å€¼å¡«å……æ³• å¤„ç†ç¼ºå¤±ï¼Œæ¯”è¾ƒæŸä¸€åˆ— (è‡ªé€‰ï¼šPM10 æˆ– NO2) å‡å€¼å·®å¼‚ã€‚
3. ä½¿ç”¨ subset æŒ‡å®š (date, city) å»é‡å¹¶ç»Ÿè®¡å½±å“çš„è¡Œæ•°ã€‚
4. ç­›é€‰å‡º PM2.5 > å…¨éƒ¨å‡å€¼ çš„è®°å½•ï¼Œç»Ÿè®¡æœ‰å¤šå°‘åŸå¸‚ã€‚
5. å†™ 80~120 å­—ï¼šè¯´æ˜ä½ è®¤ä¸ºâ€œåˆ é™¤â€å’Œâ€œå¡«å……â€å„è‡ªé€‚ç”¨çš„åœºæ™¯ã€‚
(å¯é€‰) 6. æŠŠæ¸…æ´—è¿‡ç¨‹ä¸­çš„å…³é”®æ•°å­—æ•´ç†æˆä¸€å¼  1 è¡Œæ‘˜è¦è¡¨ã€‚

---
ğŸ“Œ æç¤ºï¼šæŒæ¡å¸ƒå°”è¿‡æ»¤ä¸ç¼ºå¤±å¤„ç†ï¼Œå°†ç›´æ¥å½±å“ Day 4 çš„æ¢ç´¢æ•ˆç‡ã€‚ç»§ç»­ä¿æŒâ€˜æ¯æ­¥è®°å½•â€™çš„ä¹ æƒ¯ã€‚